@import @/styles/helpers

.header
    position: fixed
    top: 0
    left: 0
    right: 0
    z-index: 30
    padding: 30px 0
    background-color: $c1
    +w
        padding: 40px 0
    +m
        padding: 24px 0
    // &.visible
    //     padding: 32px 0
    //     background: rgba($n9, .95)
    //     +w
    //         padding: 24px 0
    //     +m
    //         padding: 20px 0
    // &.open.visible
    //     background: transparent

.container
    display: flex
    align-items: center

.logo
    position: relative
    z-index: 45

.button
    width: auto
    height: 32px
    border-radius: 5px
    background-color: $n12
    color: $n0
    display: flex
    align-items: center
    border: none
    +bold
    +m
        display: none

.menu
    margin-right: auto
    margin-left: 15em
    +xxl
        margin-left: 8em
    +xl
        margin-left: 4em
    +w
        margin-left: 40px
    +t
        display: none
    +m
        display: none

.link
    +baseB
    transition: color .2s
    &:hover,
    .buttonText
        color: $n2
    &.active
        padding-bottom: 4px
        border-bottom: 2px solid $n0
        color: $n0
    &:not(:last-child)
        margin-right: 48px
        +xxl
            margin-right: 40px
        +xl
            margin-right: 30px

        +w
            margin-right: 20px

        +t
            display: none
.balance
    display: flex
    height: 30px
    background: $n16
    border-radius: 5px
    margin-right: 10px
    border: 1px solid $n16
    align-items: center
    justify-content: center
    +body2
    color: $c2
    font-weight: 700
