@import @/styles/helpers

.inputPlaceholder
    // width: 380px
    height: 50px
    font-size: 22px
.button
    margin-top: 30px
    width: 550px
    height: 50px
    background-color: $c1
    color: $n0
    font-size: 16px
    +appBodyText
.cryptos
    margin-top: 20px
.buttonModal
    height: 45px
    width: 115px
    background-color: $n0
    border: 1px solid $n11
    color: $n10
    display: flex
    padding-left: 10px
    justify-content: space-between
    align-items: center
    border-radius: 17px
.select
    width: 150px

.border
    border-radius: 20px
    padding: 20px
    border: 1px solid $c1
.scrollable
    height: 400px,
    overflow: auto,
    padding: 0px 25px,
    border-top: 0.5px solid $n11
    margin-top: 25px
    margin-left: -24px
    margin-right: -21px

.modalStyle
    margin-top: 30px
    overflow: auto
.bold
    +bold
    font-size: 19px
.fade
    color: $n11
    +body
    font-size: 17px
.itemName
    gap: 0px !important
