=inter
    font-family: "Inter", sans-serif

=karla
    font-family: "Karla", sans-serif

=roboto
    font-family: "Roboto"

=bold
    +appBodyText
    font-size: 17px
    line-height: 28px
=appBodyText
    font-style: normal
    font-weight: 700
    line-height: 30px
=table
    display: flex
    box-shadow: 0px 9px 20px rgba(0, 0, 0, 0.15)
=body
    font-size: 22px
    line-height: 26px
    font-weight: 300
=body1
    font-weight: 500
    font-size: 24px
    line-height: 28px
=body3
    font-weight: 500
    font-size: 32px
    line-height: 38px

=body2
    font-size: 18px
    line-height: 27px

=tagline
    font-size: 18px
    line-height: 21px
    letter-spacing: .05em
    font-weight: 800
    text-transform: uppercase

=button
    font-size: 14px
    line-height: 16px
    font-weight: 800
    text-transform: uppercase

=text-button
    font-size: 18px
    line-height: 27px
    font-weight: 500

=base
    font-size: 16px
    line-height: 19px

=baseB
    font-style: normal
    font-weight: 700
    font-size: 18px
    line-height: 21px
    color: $n0

=caption
    font-size: 14px
    line-height: 27px

=caption2
    font-size: 12px
    line-height: 14px
    letter-spacing: .05em
    font-weight: 800

=hairline
    font-size: 10px
    line-height: 12px
    font-weight: 800
    letter-spacing: .02em

=quote
    +inter
    font-size: 32px
    line-height: 42px
    font-weight: 900
    +t
        font-size: 24px
        line-height: 36px
    +m
        font-size: 32px
        line-height: 42px
