@import @/styles/helpers

.section
    max-height: 100%
    padding-top: 10rem
    text-align: center
    align-items: center
    display: flex
    justify-content: center
.title
    margin-bottom: 25px
.input
    margin-top: 20px

.inputPlaceholder
    width: 380px
    height: 50px
    background-color: $c2
    +bold
    color: $n10
    font-size: 19px
    padding-top: 10px

.button
    margin-top: 30px
    width: 550px
    height: 60px
    background-color: $c1
    color: $n0
    font-size: 22px
    +appBodyText

.buttonModal
    height: 50px
    width: 150px
    background-color: $c2
    color: $n10
    display: flex
    justify-content: space-between
    align-items: center
.select
    width: 150px

.border
    border-radius: 20px
    padding: 20px
    border: 1px solid $c1
.bold
    +bold
    font-size: 19px
.alert
    margin-top: 10px
    color: $c3s3
    +bold
    font-size: 19px
.iconSpace
    margin-bottom: -25px

.yourInvites
    margin-top: 4em
